@media (max-width: 991px) {
  #under-construction h1 {
    font-size: 2.25rem;
    text-align: center;
    margin: 1.5rem auto 0;
    max-width: 325px;
  }

  #under-construction p {
    text-align: center;
  }

  #under-construction #social-link {
    font-size: 35px;
    max-width: 250px;
  }

  #under-construction #illustration {
    height: auto;
    width: 100%;
    margin-top: 1.5rem;
  }
}